.button-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin:0 auto;
    padding: .9em 2em;
    border: none;
    border-radius: 25px;
    background-color: #2589d0;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
}

.button-2:hover {
    background-color: #1579c0;
}

.content {
  background-color: #efefef;
}

/* デフォルト（PCなど広い画面）のスタイル */
body {
  font-size: 16px;
}

/* 画面幅が1024px以下のデバイス（タブレットやスマートフォン）に適用 */
@media (max-width: 1024px) {
  body {
    font-size: 14px; /* 文字サイズを小さくする */
  }
  .content {
    width: 90%; /* コンテンツの幅を調整する */
  }
}

/* 画面幅が768px以下のデバイス（スマートフォン）に適用 */
@media (max-width: 768px) {
  .content {
    width: 100%; /* 幅を100%にして縦に並べる */
  }

  .button-2 {
    width: 80%; /* ボタンの幅を調整する */
  }
}
