.button-G {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin:0 auto;
    padding: .9em 2em;
    border: none;
    border-radius: 25px;
    background-color: #ddb97f;
    color: #000;
    font-weight: 600;
    font-size: 1em;
}

.button-G:hover {
    background-color: #7e6743;
}


/* デフォルト（PCなど広い画面）のスタイル */
body {
  font-size: 16px;
    background-color: #852423;
}

/* 画面幅が1024px以下のデバイス（タブレットやスマートフォン）に適用 */
@media (max-width: 1024px) {
  body {
    font-size: 14px; /* 文字サイズを小さくする */
    width: 90%;
  }
}

/* 画面幅が768px以下のデバイス（スマートフォン）に適用 */
@media (max-width: 768px) {
    body {
        font-size: 12px; /* さらに文字サイズを小さくする */
    }

  .button-2 {
    width: 80%; /* ボタンの幅を調整する */
  }
}
